@font-face{
  font-family:regular;
  font-weight:bold;
  src: url("./assets/Nexa-Font/NexaRegular.otf") format("opentype")}
@font-face{
  font-family:footer_font;
  src: url("./assets/Nexa-Font/NexaThin.otf") format("opentype")}
@font-face{
  font-family:heading_font;
  font-weight: 400;
  src: url("./assets/Nexa-Font/NexaHeavy.otf") format("opentype")}
@font-face{
  font-family:unispace;
  src: url("./assets/Unispace-Font/unispace bd.otf") format("opentype")}
@font-face{
  font-family:unispaceItalics;
  src: url("./assets/Unispace-Font/unispace it.otf") format("opentype")}
button{
  cursor: pointer;}
body{
  margin: 0px;}
a{
  text-decoration: none;}
.main_container{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  transition: 0.5s;}
.main_container.main_content{
  position: relative;}
.hide{
  visibility: hidden;
  display: none;}
ul{
  list-style-type: none;
  padding: 0;
  margin: 0;}
* {
  user-select: none;}



.footer h3{
  font-family: footer_font;
  border-bottom: 0;
  font-size: 1.5vh;
}

.footer{
  width: 100%;
  bottom: 0;
  position:fixed;
  align-self: self-end;
}

.header{
  vertical-align: middle;
  height: 80px;
  display:flex;
  flex-direction: row;
  box-shadow: -5px 0 14px 0 #666;
}

.titleDiv{
  align-self: center;
  align-items: center;
  justify-content: flex-start;
  justify-items: center;
  vertical-align: middle;
  display: flex;
  width: 30%;
  height: 100%;
}

#logo{
  align-self: center;
  align-items: center;
  margin-left: 7%;
  margin-right: 2%;
  aspect-ratio: 1/1;
  height: 75%;
  cursor: pointer;
}

.title{
  color:#000000; 
  align-self: center;
  background-color: transparent;
  vertical-align: middle;
  margin-top: 2%;
  width: fit-content;
  display: flex;
  font-size: 30.75px;
  border-width: 0;
  text-align:center;
  font-family:heading_font;
  padding: 0;
}

.navDiv{
  display: flex;
  vertical-align: middle;
  align-items: center;
  width: 60%;
  justify-content: flex-start;

  visibility: hidden;
  display: none;
}

.navigationPane{
  align-self: center;
  width:fit-content;
  height: 9.5vh;
  margin-left: 7%;
  margin-right: 3%;
}

.nav_bar_list_items{
  display:inline-flex;
  align-content: center;
  vertical-align: middle;
  height: 50px;
  margin-left: 10px;
  margin-right: 5px;
  margin-top: 3%;
}

.nav_bar_list_items:hover{
  display:inline-flex;
  align-content: center;
  vertical-align: middle;
  height: 50px;
  margin-left: 10px;
  margin-right: 5px;
  margin-top: 3%;
  border-width:0;
  text-align:center;
  font-family:regular;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  border-radius: 15px;
}

.navigators_butt{
  color:#000000;
  align-self:center;
  font-size: 3.6vh;
  background-color: transparent;
  border-width: 0;
  text-align:center;
  font-family:regular;
  margin-right: 5px;
}

.navigators_butt_ico{
  width:3vh;
  aspect-ratio: 1/1;
  cursor:pointer;
  display: inline;
  align-self: center;
  margin-left: 10px;
}

.navigators_butt_ico img{
  width: 2.6vh;
  aspect-ratio: 1/1;
  align-self: center;
}

.contact_usDiv{
  position: relative;
  display:flex;
  justify-content: flex-end;
  width:10%;
  margin: 10px;
  vertical-align: middle;
}

.contact_usSubDiv{
  position: relative;
  display:flex;
  justify-content: flex-end;
  vertical-align: middle;
  padding: 5px;
  width: fit-content;
  height: fit-content;
  align-self: center;
}

.contact_usSubDiv:hover{
  position: relative;
  display:flex;
  justify-content: flex-end;
  vertical-align: middle;
  padding: 5px;
  width: fit-content;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  border-radius: 15px;
}

#contact_us_img{
  float: right;
  align-self:center;
  aspect-ratio: 1/1;
  width: fit-content;
  margin-top: 10px;
  margin-right: 0;
}

.navMobileDiv{
  position: relative;
  display:flex;
  justify-content: flex-end;
  width:10%;
  margin: 10px;
  vertical-align: middle;

  visibility: hidden;
  display: none;
}

.navMobileSubDiv{
  position: relative;
  display:flex;
  justify-content: flex-end;
  vertical-align: middle;
  padding: 5px;
  width: fit-content;
  height: fit-content;
  align-self: center;
}

#blur{
  display: block;
  width: 100%;
  height: 100%;
}

#blur.active{
  display: block;
  width: 100%;
  height: 100%;
  filter: blur(5px);
  pointer-events: none;
  user-select: none;
}

.main{
  display: flex;
}

#popup{
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  box-shadow: 0 5px 30px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-right: 25px;
  background-color: #FFF;

  visibility: hidden;
  opacity: 0;
}

#popup.active{
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

.popup_main_div{
  padding: 20px;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  background: transparent;
  width:fit-content;
}

#closeButton{
  background: transparent;
  align-self: self-end;
  aspect-ratio: 1/1;
  border-width: 0;
  width:15px;
  float: right;
  margin: 5px;
}

#closeButton:hover{
  background: transparent;
  align-self: self-end;
  aspect-ratio: 1/1;
  border-width: 0;
  width:20px;
  float: right;
  cursor: pointer;
  margin: 5px;
}

#popup_title_div{
  display: inline-flex;
  flex-direction: row;
  height: max-content;
  align-content: center;
  justify-content: center;
}

#popup_title_icon{
  aspect-ratio: 1/1;
  width: 60px;
  vertical-align: middle;
  align-self: center;
  margin: 10px;
}

.popup_title{
  color:#000000; 
  align-self: center;
  background-color: #FFFFFF;
  vertical-align: middle;
  width: fit-content;
  padding-top: 10px;
  font-size:48px;
  border-width: 0;
  text-align:center;
  font-family:heading_font;
  margin: 10px;
  float: right;
}

#popup_content_main_div{
  display:inline-flex;
  flex-direction:row;
  justify-content: center;
  margin-top: 20px;
}

.popup_content_div{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  width: 30%;
  cursor: pointer;
}

.popup_content_icon{
  aspect-ratio: 1/1;
  width: 55px;
  align-self: center;
  margin: 10px;
}

.popup_content_title{
  color:#000000; 
  text-align: center;
  font-size: 30px;
  font-family: regular;
  margin: 10px;
}

#sidebar{
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  right: -20%;
  height: 100vh;
  z-index: 999;
  width: 100vw;
  justify-content: flex-start;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);

  opacity: 0;
  visibility: hidden;
  display: none;
}

#sidebar.active{
  right: 0;
  visibility: visible;
  display: flex;
  opacity: 1;
  transition: 15s;
}

#sidebar li{
  width: 80%;
  align-self: center;
  align-items: center;
  justify-content: center;
  margin: 5%;
}